@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #0d0d3a;
  font-family: "Merriweather", serif;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.sf-logo {
  width: 150px;
  margin: 1em auto;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #dac751;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
}

.activated {
  visibility: block;
}

.title3 {
  display: none;
  font-family: Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 0.7em;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-left: 10%;
  margin-right: 10%;
}

.select-container {
  max-width: 430px;
  display: flex;
  margin: 1em auto 3em;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 4px 0px;
}

.character {
  margin-bottom: 4px;
  width: auto;
  max-height: 120px;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  text-align: center;
}
.character__name {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: none;
}
.character__img, .character__name {
  margin: 0;
  padding: 0;
}
.character__img {
  filter: grayscale(0.84);
  height: 120px;
}
.character.active {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.character.active .character__name {
  display: block;
  width: 100%;
  background: #e3231e;
  color: white;
  opacity: 0.7;
  margin-top: 0.8em;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3em 0;
}
.character.active:after {
  content: "1P";
  position: absolute;
  text-align: center;
  top: -15px;
  left: 30%;
  font-size: 36px;
  color: #e3231e;
  font-weight: 700;
  text-shadow: 0px 0px 5px white;
}
.character.active .character__img {
  filter: grayscale(0);
  outline: 4px solid white;
  -webkit-animation: flash 300ms linear;
          animation: flash 300ms linear;
}

.list-footer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  font-family: Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 0.7em;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.list-footer .heart {
  color: tomato;
  font-size: 2em;
  vertical-align: middle;
}

@-webkit-keyframes flash {
  0% {
    filter: brightness(100%);
  }
  20% {
    filter: brightness(150%);
  }
  40% {
    filter: brightness(100%);
  }
  60% {
    filter: brightness(150%);
  }
  80% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(150%);
  }
}

@keyframes flash {
  0% {
    filter: brightness(100%);
  }
  20% {
    filter: brightness(150%);
  }
  40% {
    filter: brightness(100%);
  }
  60% {
    filter: brightness(150%);
  }
  80% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(150%);
  }
}

.toggle {
  background: rgba(0,0,0,0.1);
  width: 77px;
  height: 22px;
  position: relative;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  font-family: arial;
  line-height: 22px;
  font-weight: bold;
  margin: 0 auto;
}
.toggle .on, .toggle .off {
  z-index: 10;
  position: absolute;
  top: 0px;
  height: 24px;
  width:29px;
  transition: all 0.2s;
}
.toggle .off {
  right: 10px;
  color: #5e6f6e;
}
.toggle .on {
  left: 8px;
  color:#fff;
}
.toggle .slide {
  transition: all 0.2s ease;
  position: absolute;
  left: 3px;
  top: -1px;
  bottom: 0;
  background: #6699cc;
  width: 30px;
  height: 25px;
  z-index: 1;
  border-radius:5px;
}
.toggle.active .slide {
  left: 36px;
}
.toggle.active .on {
  color:#5e6f6e;
}
.toggle.active .off {
  color:#fff;
}
.musicicon h1{
  text-align: center;
  font-size:16px;
  font-family:Arial;
  line-height:18px;
  color:#e8592a;
  font-weight:bold;
}
.musicplayer{
  width: 140px;
  margin: 40px auto 0 auto;
}